body {
	background-color: #004519;
}

div[role="button"] {
	background-color: #6fbc85;
	border-color: #6fbc85;
	border-radius: 50px;
	width: auto;
	/* height: 50px; */
	padding-left: 10px;
	padding-right: 10px;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color: #004519;
	display: inline-block;
	margin-top: 10px;
	margin-right: 5px;
	cursor: pointer;
}

div[class="container"] {
	text-align: center;
	margin-top: 10px;
}

div[role="button"]:hover {
    background-color: #4da562;
}
