body {
	background-color: #004519;
}
#logo {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
	padding-top: 5%;
}

#bouton_info {
	text-align: left;
	margin-right: 10px;
	margin-top: 10px;
}

#information {
	position: fixed;
	overflow: hidden;
	z-index: 4;
	background-color: #6fbc85;
	border-color: #6fbc85;
	border-radius: 90px;
	width: 60px;
	height: 60px;
	font-family: monospace;
	font-size: 300%;
	color: #004519;
	font-weight: bold;
	text-align: center;
	text-overflow: "";
	transition: width 2s, height 2s, border-radius 2s, font-size 2s;
}

#information:hover {
	width: 20%;
	height: 30%;
	border-radius: 30px;
	font-size: 150%;
}

#BoutonDemarrer {
	text-align: center;
	margin-top: 10px;
}
#Demarrer {
	background-color: #6fbc85;
	border-color: #6fbc85;
	border-radius: 50px;
	width: 300px;
	height: 75px;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color: #004519;
  cursor: pointer;
}

#Demmarrer:hover {
    background-color: #a2d4b0;
}

.text_presentation {
  margin-top: 4%;
}

h4 {
  color: #6fbc85;
  text-align: center;
  font-size: 250%;
  font-style: oblique;
}

h5 {
  color: #6fbc85;
  text-align: center;
  font-size: 130%;
  font-weight: normal;
  font-style: oblique;
}

.logos {
  height: 45px;
  padding-top: 10%;
}

#logoLyon2 {
  padding-left: 0.5%;
}

#logoUJM {
  padding-left: 0.5%;
}

#logoENS {
  padding-left: 0.5%;
}
